{% extends "base.html" %}

{% block main %}
      <!--=============== BREADCRUMB ===============-->
      {% include "components/breadcrumb.html" %}

      <!--=============== DETAILS ===============-->
      {% include "components/details.html" %}

      <!--=============== DETAILS TAB ===============-->
      {% include "components/details_tab.html" %}
      <!--=============== PRODUCTS ===============-->
      {% include "components/products.html" %}

      <!--=============== NEWSLETTER ===============-->
      {% include "components/newsletter.html" %}
{% endblock main %}